@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  /* Toastify */
  --toastify-color-dark: #080808;
  --toastify-color-progress-success: #FD6F00;
  --toastify-icon-color-success: #FD6F00;
  --toastify-color-progress-error: rgb(155,0,32);
  --toastify-icon-color-error: rgb(155,0,32);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: #080808;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
